<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- css -->
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/contact.css">

    <!-- font-text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light margin">
           <div class="container">
             <a class="navbar-brand" href="../Views/home.html">
                   <img class="logo"src="../Images/contact/LOGO.png" alt="">
             </a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav justify-content-start">
                 <li class="nav-item ">
                   <a class="nav-link" aria-current="page"  href="../Views/whychooseus.html">WHY CHOOSE US</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link " href="../Views/industries.html">INDUSTRIES</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link" href="../Views/work.html">WORKS</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link p-30" href="../Views/team.html" >OUT TEAM</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link" href="../Views/contact.html" >CONTACT</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link-language " href="#" tabindex="-1" aria-disabled="true">ENG/VN</a>
                 </li>
               </ul>
             </div>
           </div>
         </nav> 

   </header>

    <section>
        <div class="banner p-re mt-5">
            <div class="layer1-img">
                <img class="w-100" src="../Images/contact/layer1.png" alt="">
            </div>
            <div class="contact p-asl text-center">
                <div class="title">CONTACT US</div>
                <div class="content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </div>
            </div>
        </div>
        <div class="form margin-12">
            <div class="title color-form text-center">Get an estimate for your app idea. We do not spam</div>
            <div class="margin">
                <div class="container mt-3">
                    <div class="row w">
                        <div class="col-md-7 padding-right-6 text-start">
                            <div class="color-form title-form">Sydney</div>
                            <div class="color-form mt-3 size-content-form">417/165 Phillip St Sydney NSW 2000 Australia</div>
                            <div class="color-form size-content-form">1300 028 808</div>
                            <div class="color-form size-content-form">Int. +61 2 8776 3849</div>
                            <div class="color-form size-content-form">sale@block8.com</div>
                            <div class="color-form title-form mt-3 mb-3">Chandigarh</div>
                            <div class="color-form size-content-form">Rajiv Gandhi Chandigarh Technology Park, Manimajra, Chandigarh, 160101, India</div>
                        </div>
                        <div class="col-md-5 text-end">
                            <form action="">
                                <div >
                                    <input class="input-text w-100 mt-2 border-0 ps-5" type="text" placeholder="Name" name="txtName" >
                                </div>
                                <div>
                                    <input class="input-text w-100 mt-2 border-0 ps-5" type="email" placeholder="Email" name="Email">
                                </div>
                                <div> 
                                    <input  class="input-text w-100 mt-2 border-0 ps-5" type="text" placeholder="Subject" name="txtSub">
                                </div>
                               <div>
                                    <textarea class="input-textarea w-100 mt-2 border-0 ps-5 pt-3" name="taMessage"  rows="6" placeholder="Message"></textarea>
                                </div>
                                <div>
                                    <input class="input-submit w-100 mt-2 border-0 text-center" type="submit" value="SEND">
                                </div>
                                
                            </form>
                            
                        </div>
                </div>
            </div>
            </div>
           
    </div>
        <div class="banner-1 p-re margin-120">
            <div class="layer2-img">
                <img class="w-100"src="../Images/contact/layer2.png" alt="">
            </div>
            <div class="Subscrible p-asl top-0 text-center">
                <div class="title">Subscrible our Newsletter</div>
                <div class="content mt-2">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to
                </div>
                <div class="button mt-4 py-2">SUBSCRIBLE NOW</div>
            </div>
        </div>
    </section>

    <footer class="margin">
        <ul class="menu-footer d-flex mt-5 justify-content-start" style="list-style:none;">
            <li class="logo-img me-3">
                <img class="w-75" src="../Images/contact/LOGO.png" alt="">
            </li>
            <li class="option-footer color-nav me-3">WHY CHOOSE US</li>
            <li class="option-footer color-nav me-3">INDUSTRIES</li>
            <li class="option-footer color-nav me-3">WORKS</li>
            <li class="option-footer color-nav me-3">OUT TEAM</li>
            <li class="option-footer color-nav ">CONTACT</li>
            <li class="option-phone color-nav me-3">012345XXXXX </li>
            <li class="option-logo-in p-re me-3">
                <img class="w-100"src="../Images/contact/logo-in.png" alt=""> 
                <img class=" logo-social p-asl w-50"src="../Images/contact/in.png" alt="">
            </li>
            <li class="option-logo-twitter p-re">
                <img class="w-100" src="../Images/contact/logo-twitter.png" alt=""> 
                <img class="logo-social p-asl w-50" src="../Images/contact/twitter.png" alt="">
            </li>
       </ul>
    </footer>
     <!-- js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>