<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>

   <!-- bootstrap -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   

   
   <!-- css slick slider -->
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
   <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
   <link rel="stylesheet" href="../CSS/layout.css">
   <link rel="stylesheet" href="../CSS/home.css">

   <!-- cfont-text -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap" rel="stylesheet">

   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body  class="w-1920" >
    <header>
        <div class="layer h-870">
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active p-re">
                    <img src="../Images/home/Rectangle 8.png" class="d-block w-100" alt="...">
                    <div class="layer1 p-asl">
                        <img src="../Images/home/Layer 1.png" alt="">
                    </div>
                    <nav class="p-asl">
                        <ul class="menu-1 d-flex " style="list-style:none;">
                             <li class="logo-img">
                                 <img style="width:160px;"src="../Images/home/LOGO.png" alt="">
                             </li>
                             <li class="option-1 "><a href="../Views/whychooseus.html">WHY CHOOSE US</a></li>
                             <li class="option-1 "><a href="../Views/industries.html">INDUSTRIES</a></li>
                             <li class="option-1 "><a href="../Views/work.html">WORKS</a></li>
                             <li class="option-1 "><a href="../Views/team.html">OUT TEAM</a></li>
                             <li class="option-1 "><a href="../Views/contact.html">CONTACT</a></li>
                             <li class="option-1 language fs-12b">ENG/VN </li>
                        </ul>
                     </nav>
                     <div class="content-layer p-asl">
                        <div class="title fs-24b">
                            Develop High-tech products for Enterprise
                        </div>
                        <div class="content">
                            We provide excellent development services in a wide range of business industries width distributed systems based on Blockchain technology 
                        </div>
                        <div class="button ">
                            <button type="button " >LEARN MORE</button>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item  p-re">
                    <img src="../Images/home/Layer 26.png" class="d-block w-100" alt="...">
                    <div class="layer1 p-asl">
                        <img src="../Images/home/Layer 1.png" alt="">
                    </div>
                    <nav class="p-asl">
                        <ul class="menu-1 d-flex" style="list-style:none;">
                             <li class="logo-img">
                                 <img style="width:160px;"src="../Images/home/LOGO.png" alt="">
                             </li>
                             <li class="option-1 "><a href="../Views/whychooseus.html">WHY CHOOSE US</a></li>
                             <li class="option-1 "><a href="../Views/industries.html">INDUSTRIES</a></li>
                             <li class="option-1 "><a href="../Views/work.html">WORKS</a></li>
                             <li class="option-1 "><a href="../Views/team.html">OUT TEAM</a></li>
                             <li class="option-1 "><a href="../Views/contact.html">CONTACT</a></li>
                             <li class="option-1 language fs-12b">ENG/VN </li>
                        </ul>
                     </nav>
                     <div class="content-layer p-asl">
                        <div class="title fs-24b">
                            Develop High-tech products for Enterprise
                        </div>
                        <div class="content">
                            We provide excellent development services in a wide range of business industries width distributed systems based on Blockchain technology 
                        </div>
                        <div class="button">
                            <button type="button" >LEARN MORE</button>
                        </div>
                     </div>
                  </div>
                </div>
              </div>
        </div>
       
    </header>

    <section>
        <div class="introduce">
            <div class="wellcome " align="center">
                <div class="title font-title color-title fs-24b pt-5">
                    WELCOME TO TVM BLOCKCHAIN
                </div>
                <div >
                    <div class="text color-title fs-12 mt-2">Thank you for visiting us</div>
                    <div class="text color-title fs-12" style="padding:0 22rem">If you are looking for a partner who is able to do software development tasks professionally,
                        definitely we are your SMART decision.Work with us and you won't be disappointed.
                    </div>
                </div>
                <div class="list-img">
                    <div class="container">
                       <div class="row slider">
                           <div class="col-md-4">
                             <img class="w-100"src="../Images/Team/img1.png" alt="">
                           </div>
                           <div class="col-md-4">
                             <img  class="w-100" src="../Images/Team/img2.png" alt="">
                           </div>
                           <div class="col-md-4">
                             <img class="w-100" src="../Images/Team/img3.png" alt="">
                           </div>
                           <div class="col-md-4">
                             <img class="w-100"src="../Images/Team/img1.png" alt="">
                           </div>
                           <div class="col-md-4">
                             <img  class="w-100" src="../Images/Team/img2.png" alt="">
                           </div>
                           <div class="col-md-4">
                             <img class="w-100" src="../Images/Team/img3.png" alt="">
                           </div>
                           <div class="col-md-4">
                             <img class="w-100"src="../Images/Team/img1.png" alt="">
                           </div>
                       </div>
                    </div> 
                 </div>
            </div>
            <div class="copperation ">
                <div class="title fs-24b color-title mt-5 pt-4" style="padding:0 22rem" align="center">
                    WE ARE ALWAYS LOOKING FOR COOPERATION FOR MULTUAL DEVELOPMENT
                </div>
                <div class="content mt-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <div class="d-flex" >
                                    <img style="width:4rem; margin-right:1.5rem; margin-bottom: 3rem;"src="../Images/home/img1.png" alt="">
                                    <span class="color-title fs-12">With partners to bring to market high quality high-tech products</span>
                                </div>
                                <div class="d-flex">
                                    <img style="width:4rem; margin-right:1.5rem; margin-bottom: 3rem;" src="../Images/home/img2.png" alt="">
                                    <span class="color-title fs-12">Promote ang support approiate starup ideas in the blockchain fieid</span>
                                </div>
                                <div class="d-flex">
                                    <img style="width:4rem; margin-right:1.5rem; margin-bottom: 3rem;" src="../Images/home/img3.png" alt="">
                                    <span class="color-title fs-12">With businesses to help them get products suitable for business requirments</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <img class="w-100" src="../Images/home/cooperation-img.png" alt="">
                            </div>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        <div class="main-content" >
            <div class="services margin">
                <div class="title fs-24b color-title mt-5" align="center" >
                    OUR SERVICES
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-4 " >
                            <div class="img-services-1 ">
                            </div>
                            <div class="title1 fs-15 color-title">
                                Software Development
                            </div>
                            <div class="">
                               <div class="color-title fs-12">Blockchain & DLT Applications</div>
                                <div class="color-title fs-12">Moblie & Web Applications </div>
                                <div class="color-title fs-12">Solution Architecture </div>
                               <div class="color-title fs-12"> Agile Delivery Management</div>
                            </div>
                        </div>
                        <div class="col-4 ps-5" >
                            <div class="img-services-2 ">
                            </div>
                            <div class="title1 fs-15 color-title">
                                Product Innovation
                            </div>
                            <div class="">
                                <div class="color-title fs-12">Product Ownership & Managerment</div>
                                <div class="color-title fs-12">Product Discovery & Research</div>
                                <div class="color-title fs-12">Micro & Macro Analysis</div>
                                <div class="color-title fs-12">Data Driven UX Design</div>
                            </div>
                        </div>
                        <div class="col-4 " style="padding-left:6.5rem">
                            <div class="img-services-3 ">
                            </div>
                            <div class="title1 fs-15 color-title">
                                Enterprise Consulting
                            </div>
                            <div class="">
                                <div class="color-title fs-12">Digital Transformation</div>
                                <div class="color-title fs-12">Blockchain Strategy</div>
                                <div class="color-title fs-12">Prototying & Proof of Concepts</div>
                                <div class="color-title fs-12">Tachnology & Product Roadmaps</div>
                            </div>
                        </div>
                        <div class="col-12">

                        </div>
                        <div class="col-4 " >
                            <div class="img-services-4 ">
                            </div>
                            <div class="title1 fs-15 color-title">
                                Infrastructure and Security
                            </div>
                            <div class="">
                               <div class="color-title fs-12">Turnkey Cloud Infrastructure</div>
                               <div class="color-title fs-12">DevOps as a Service</div>
                               <div class="color-title fs-12">Scalability, Reliability, Security</div>
                            </div>
                        </div>
                        <div class="col-4 ps-5" >
                            <div class="img-services-5 " >
                            </div>
                            <div class="title1 fs-15 color-title">
                                Economics
                            </div>
                            <div class="">
                                <div class="color-title fs-12">Game Theory & Incentive Design</div>
                                <div class="color-title fs-12">Network Effect Design</div>
                                <div class="color-title fs-12">Economic Modeling</div>
                            </div>
                        </div>
                        <div class="col-4 " style="padding-left:6.5rem">
                            <div class="img-services-6 ">
                            </div>
                            <div class="title1 fs-15 color-title">
                                Blockchain System Design
                            </div>
                            <div class="">
                                <div class="color-title fs-12">Trustless System Design</div>
                                <div class="color-title fs-12">Defining & Tokenising Value</div>
                                <div class="color-title fs-12">Public & Private Smart Constracts</div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
            <div class="research-develop p-re" style="height: 960px;">
                <div class="fs-24b color-title mt-5" align="center" >
                    RESEARCH AND DEVELOPMENT
                </div>
                <div class="intro-search-develop color-title fs-12" align="center">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </div>
                <div class="btn-discovery" align="center">
                    <button> Discocery  <img src="../Images/home/img-discovery.png" alt=""></button>
                </div>
                <div class="research p-asl">
                    <div class="title">
                        RESEARCH
                    </div>
                    <div class="digital fs-15 color-title">
                        Digital Innovation
                    </div>
                    <ul id="ul">
                        <li class="color-title fs-12"> Blockchain payment system</li>
                        <li class="color-title fs-12"> Investment Bank and Blockchain
                             <div class="color-title fs-12">settlement</div></li>
                        <li  class="color-title fs-12"> Real Estate Payment and managerment</li>
                    </ul>
                </div>
                <div class="development p-asl">
                    <div class="title fs-18">
                        DEVELOPMENT
                    </div>
                    <div class="digital fs-15">
                        Consensus for Settlement
                    </div>
                    <div class="content color-title fs-12" style="color: white !important;">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an type and scrambled specimen book.
                    </div>
                    
                </div>
                <div class="img-re-dev p-asl">
                    <img class="w-100" src="../Images/home/img-re-dev.png" alt="">
                </div>
            </div>
            <div class="partner margin">
                <div class="fs-24b color-title mt-5 pt-5" align="center">
                    OUR PARTNER
                </div>
                <div class="container">
                    <div class="row w-100 ">
                        <div class="col-4 part p-re ">
                            <img class="w-100" src="../Images/home/xanhduong.png" alt="">
                            <img class="p-asl img-den"src="../Images/home/den.png" alt="">
                            <div class="content p-asl">
                                <div class="title fs-15">
                                    ABCXYZ
                                </div>
                                <div class="content-lr">
                                    Lorem Ipsum us symply dummy text of the printing and typesetting industry
                                </div>
                                <div class="btn-Learn">
                                    LEARN MORE
                                </div>
                            </div>
                        </div>
                        <div class="col-4 part p-re ">
                            <img class="w-100" src="../Images/home/hong.png" alt="">
                            <img class="p-asl img-den"src="../Images/home/den.png" alt="">
                            <div class="content p-asl hong">
                                <div class="title fs-15">
                                    ABCXYZ
                                </div>
                                <div class="content-lr">
                                    Lorem Ipsum us symply dummy text of the printing and typesetting industry
                                </div>
                            </div>
                        </div>
                        <div class="col-4 part p-re ">
                            <img class="w-100" src="../Images/home/xanh.png" alt="">
                            <img class="p-asl img-den"src="../Images/home/den.png" alt="">
                            <div class="content p-asl xanh">
                                <div class="title fs-15">
                                    ABCXYZ
                                </div>
                                <div class="content-lr">
                                    Lorem Ipsum us symply dummy text of the printing and typesetting industry
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-viewmore fs-15" align="center">
                    <button>VIEW MORE</button>
                </div>
            </div>
            <div class="JOIN" align="center">
                <div class="font-title title"> JOIN WITH US</div>
                <div class="content fs-12b color-title">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book
                </div>
                <div class="btn-viewmore" align="center">
                    <button>JOIN NOW</button>
                </div>
            </div>
        </div>
    </section>

    <footer class="margin">
        <ul class="menu-footer d-flex mt-5 justify-content-start" style="list-style:none;">
            <li class="logo-img me-3">
                <img class="w-75" src="../Images/contact/LOGO.png" alt="">
            </li>
            <li class="option-footer color-nav me-3">WHY CHOOSE US</li>
            <li class="option-footer color-nav me-3">INDUSTRIES</li>
            <li class="option-footer color-nav me-3">WORKS</li>
            <li class="option-footer color-nav me-3">OUT TEAM</li>
            <li class="option-footer color-nav ">CONTACT</li>
            <li class="option-phone color-nav me-3">012345XXXXX </li>
            <li class="option-logo-in p-re me-3">
                <img class="w-100"src="../Images/contact/logo-in.png" alt=""> 
                <img class=" logo-social p-asl w-50"src="../Images/contact/in.png" alt="">
            </li>
            <li class="option-logo-twitter p-re">
                <img class="w-100" src="../Images/contact/logo-twitter.png" alt=""> 
                <img class="logo-social p-asl w-50" src="../Images/contact/twitter.png" alt="">
            </li>
       </ul>
    </footer>

     <!-- js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

     <!-- slick js -->
     <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
   <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
     <script type="text/javascript" src="../JS/Slick-slider.js"></script>
</body>
</html>
