<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INDUSTRIES</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   

    <!-- css -->
    <link rel="stylesheet" href="../CSS/layout.css">
    <link rel="stylesheet" href="../CSS/industries.css">

    <!-- font-text -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap" rel="stylesheet">
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-light margin">
           <div class="container">
             <a class="navbar-brand" href="../Views/home.html">
                   <img class="logo"src="../Images/contact/LOGO.png" alt="">
             </a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav justify-content-start">
                 <li class="nav-item ">
                   <a class="nav-link" aria-current="page"  href="../Views/whychooseus.html">WHY CHOOSE US</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link " href="../Views/industries.html">INDUSTRIES</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link" href="../Views/work.html">WORKS</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link p-30" href="../Views/team.html" >OUT TEAM</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link" href="../Views/contact.html" >CONTACT</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link-language " href="#" tabindex="-1" aria-disabled="true">ENG/VN</a>
                 </li>
               </ul>
             </div>
           </div>
         </nav> 

   </header>

    <section class="margin">
        <div class="industries">
            <div class="container">
                <div class="row">
                    <div class="col-md-6  pe-35">
                        <div class="title">
                            INDUSTRIES
                        </div>
                        <div class="content p-right">
                            Unlock new value, build trust and bring transparency across industries and businesses with the power of Blockchain.
                        </div>
                        <div class="button">
                            <button type="button">Contact us</button>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <img class="w-100"src="../Images/industries/industries-img.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="information">
            <div class="container">
                <div class="row">

                    <!-- Consumer -->
                    <div class="col-md-6 pe-25">
                        <img class="w-100"src="../Images/industries/consumer-img.png" alt="">
                    </div>
                    <div class="col-md-6  pe-35">
                        <p>our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Consumer electronics
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>

                    <!-- Fintech -->
                    <div class="col-md-6 pe-25 text-md-end mt-90">
                        <p class="ms-md-auto">our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Fintech
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-6  pe-35 mt-90">
                        <img class="w-100" src="../Images/industries/Fintech-img.png" alt="">
                    </div>
                    

                    <!-- Healthcare -->
                    <div class="col-md-6 pe-25 mt-90">
                        <img class="w-100" src="../Images/industries/healthcare-img.png" alt="">
                    </div>
                    <div class="col-md-6  pe-35 mt-90">
                        <p>our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Healthcare
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>

                    <!-- Insurance -->
                    <div class="col-md-6 pe-25 text-md-end mt-90">
                        <p class="ms-md-auto">our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Insurance
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-6 pe-35 mt-90">
                        <img class="w-100" src="../Images/industries/insurance-img.png" alt="">
                    </div>

                    <!-- Logistics -->
                    <div class="col-md-6 pe-25 mt-90">
                        <img class="w-100" src="../Images/industries/logistics-img.png" alt="">
                    </div>
                    <div class="col-md-6  pe-35 mt-90">
                        <p>our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Logistics
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>

                    <!-- Manufacturing -->
                    <div class="col-md-6 pe-25 text-md-end mt-90">
                        <p class="ms-md-auto">our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Manufacturing
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-6 mt-90 pe-35">
                        <img class="w-100" src="../Images/industries/manufacture-img.png" alt="">
                    </div>

                    <!-- Travel -->
                    <div class="col-md-6 pe-25 mt-90 ">
                        <img class="w-100" src="../Images/industries/travel-img.png" alt="">
                    </div>
                    <div class="col-md-6  pe-35 mt-90">
                        <p>our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Travel
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>

                    <!-- Startup -->
                    <div class="col-md-6 pe-25 text-md-end mt-90">
                        <p class="ms-md-auto">our <span style="font-weight: bold; color:#281d52">industries</span></p>
                        <div class="title-infor">
                            Startup
                        </div>
                        <div class="content-infor">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non. Quis hendrerit dolor magna eget.
                        </div>
                        <div class="button-infor">
                            <button type ="button">LEARN MORE</button>
                        </div>
                    </div>
                    <div class="col-md-6  pe-35 mt-90">
                        <img class="w-100" src="../Images/industries/startup-img.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <footer class="margin">
        <ul class="menu-footer d-flex mt-5 justify-content-start" style="list-style:none;">
            <li class="logo-img me-3">
                <img class="w-75" src="../Images/contact/LOGO.png" alt="">
            </li>
            <li class="option-footer color-nav me-3">WHY CHOOSE US</li>
            <li class="option-footer color-nav me-3">INDUSTRIES</li>
            <li class="option-footer color-nav me-3">WORKS</li>
            <li class="option-footer color-nav me-3">OUT TEAM</li>
            <li class="option-footer color-nav ">CONTACT</li>
            <li class="option-phone color-nav me-3">012345XXXXX </li>
            <li class="option-logo-in p-re me-3">
                <img class="w-100"src="../Images/contact/logo-in.png" alt=""> 
                <img class=" logo-social p-asl w-50"src="../Images/contact/in.png" alt="">
            </li>
            <li class="option-logo-twitter p-re">
                <img class="w-100" src="../Images/contact/logo-twitter.png" alt=""> 
                <img class="logo-social p-asl w-50" src="../Images/contact/twitter.png" alt="">
            </li>
       </ul>
    </footer>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>