<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>

      <!-- bootstrap -->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
   
      <!-- css -->
      <link rel="stylesheet" href="../CSS/layout.css">
      <link rel="stylesheet" href="../CSS/work.css">
  
      <!-- font-text -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400&display=swap" rel="stylesheet">
  
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    
    <header>
        <nav class="navbar navbar-expand-lg navbar-light margin">
           <div class="container">
             <a class="navbar-brand" href="../Views/home.html">
                   <img class="logo"src="../Images/contact/LOGO.png" alt="">
             </a>
             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
             </button>
             <div class="collapse navbar-collapse" id="navbarNav">
               <ul class="navbar-nav justify-content-start">
                 <li class="nav-item ">
                   <a class="nav-link" aria-current="page"  href="../Views/whychooseus.html">WHY CHOOSE US</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link " href="../Views/industries.html">INDUSTRIES</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link" href="../Views/work.html">WORKS</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link p-30" href="../Views/team.html" >OUT TEAM</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link" href="../Views/contact.html" >CONTACT</a>
                 </li>
                 <li class="nav-item p-30">
                   <a class="nav-link-language " href="#" tabindex="-1" aria-disabled="true">ENG/VN</a>
                 </li>
               </ul>
             </div>
           </div>
         </nav> 

   </header>

  <section>
        <div class="ourwork margin">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 content">
                        <h2 class="color-title fs-24b">OUR WORK</h2>
                        <p class="color-text fs-14">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <button type="button" class="btn-our-work">Contact us</button>
                    </div>
                    <div class="col-md-6">
                        <img class="w-100"src="../Images/work/ourwork/layer1.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="recent margin">
            <div class="title color-title fs-24b text-center mt-6 mb-3">RECENT PROJECT</div>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="w-100" src="../Images/work/recent/layer1.png" alt="">
                            <p class="color-recent fs-12">Blockchain· Supply Chain· Drug Supply</p>
                            <p class="color-title fs-14b">Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                            <a class="fs-12b" href="#">Read More</a>
                        </div>

                        <div class="col-md-4">
                            <img class="w-100" src="../Images/work/recent/layer2.png" alt="">
                            <p class="color-recent fs-12">Tracking· Solution· Enterprise
                            </p>
                            <p class="color-title fs-14b">Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                            <a class="fs-12b" href="#">Read More</a>
                        </div>

                        <div class="col-md-4">
                            <img class="w-100" src="../Images/work/recent/layer3.png" alt="">
                            <p class="color-recent fs-12">Robot· Machine· IoT/Firmware· AI
                            </p>
                            <p class="color-title fs-14b">Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                            <a class="fs-12b" href="#">Read More</a>
                        </div>

                    </div>

                    <!-- row2 -->

                    <div class="row mt-5">
                        <div class="col-md-4">
                            <img class="w-100" src="../Images/work/recent/layer4.png" alt="">
                            <p class="color-recent fs-12">Blockchain· Supply Chain· Drug Supply</p>
                            <p class="color-title fs-14b">Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                            <a class="fs-12b" href="#">Read More</a>
                        </div>

                        <div class="col-md-4">
                            <img class="w-100" src="../Images/work/recent/layer5.png" alt="">
                            <p class="color-recent fs-12">Tracking· Solution· Enterprise
                            </p>
                            <p class="color-title fs-14b">Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                            <a class="fs-12b" href="#">Read More</a>
                        </div>

                        <div class="col-md-4">
                            <img class="w-100" src="../Images/work/recent/layer6.png" alt="">
                            <p class="color-recent fs-12">Robot· Machine· IoT/Firmware· AI
                            </p>
                            <p class="color-title fs-14b">Blockchain based Pharma Supply Chain Solution for International Aid Distribution</p>
                            <a class="fs-12b" href="#">Read More</a>
                        </div>

                    </div>
  
                </div>
            </div>
            <center>
                 <button type="button" class="btn-recent" >LOAD MORE</button>
            </center>
           
        </div>

        <div class="proprietary margin">
            <div class="title color-title fs-24b mt-5 mb-3 text-center">PROPRIETARY PROJECT</div>
            <div class="container ">
                <div class="row">
                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer1.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer2.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer3.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer4.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- row2 -->

                <div class="row mt-5">
                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer5.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer6.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer7.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="img-prop position-relative">
                            <img class="w-100" src="../Images/work/proprietary/layer8.png" alt="">
                            <div class="content-prop position-absolute top-0 ">
                                <p class="fs-12" style="margin: 9rem 0 0 1rem;">For more information</p>
                                <p class="fs-15" style="margin: 0 1rem;">Contact Us <img src="../Images/work/proprietary/shape.png" alt=""></p>
                            </div>
                            <p class="color-title fs-14 text-center">
                                Lorem ipsum dolor sit amet, sectetur piscing elit, sed do eiusmod tempor incididunt ut.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form margin">
            <div class="title fs-18b color-title mt-5 text-center">Get an estimate for your app idea. We do not spam.</div>
            <form class="row mt-4">
                <div class="col-md-6">
                  <input type="text" class="w-100 form-input mb-3 h-3"  placeholder="Name">
                </div>
                <div class="col-md-6">
                  <input type="phone" class="w-100 form-input mb-3 h-3"  placeholder="Phone">
                </div>
                <div class="col-md-6">
                    <input type="text" class="w-100 form-input mb-3 h-3"  placeholder="Company">
                </div>
                <div class="col-md-6">
                <input type="email" class="w-100 form-input mb-3 h-3"   placeholder="Email">
                </div>
                <div class="col-12">
                  <textarea name="" id="" class="w-100 form-input mb-3" rows="6"  placeholder="Tell us about your requirement"></textarea>
                </div>
                
                <div class="col-12 mb-3">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="color-title fs-14" for="gridCheck">
                        Send me the signed Non-Disclosure Agreement (NDA)
                    </label>
                  </div>
                </div>
                <div class="col-12 mb-3">
                  <button type="submit" class="btn btn-primary w-100">Get an astimate</button>
                </div>
              </form>
        </div>

  </section>

   <footer class="margin">
    <ul class="menu-footer d-flex mt-5 justify-content-start" style="list-style:none;">
        <li class="logo-img me-3">
            <img class="w-75" src="../Images/contact/LOGO.png" alt="">
        </li>
        <li class="option-footer color-nav me-3">WHY CHOOSE US</li>
        <li class="option-footer color-nav me-3">INDUSTRIES</li>
        <li class="option-footer color-nav me-3">WORKS</li>
        <li class="option-footer color-nav me-3">OUT TEAM</li>
        <li class="option-footer color-nav ">CONTACT</li>
        <li class="option-phone color-nav me-3">012345XXXXX </li>
        <li class="option-logo-in p-re me-3">
            <img class="w-100"src="../Images/contact/logo-in.png" alt=""> 
            <img class=" logo-social p-asl w-50"src="../Images/contact/in.png" alt="">
        </li>
        <li class="option-logo-twitter p-re">
            <img class="w-100" src="../Images/contact/logo-twitter.png" alt=""> 
            <img class="logo-social p-asl w-50" src="../Images/contact/twitter.png" alt="">
        </li>
   </ul>
</footer>

     <!-- js -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
